div.es6
  h3 Arrows
  p Arrows are a function shorthand using the => syntax. They are syntactically similar to the related feature in C#, Java 8 and CoffeeScript. They support both statement block bodies as well as expression bodies which return the value of the expression. Unlike functions, arrows share the same lexical this as their surrounding code.

  code
    var PageHandler = {
      id: "123456",
      init: function () {
        document.addEventListener("click", event => this.doSomething(event.type), false)
      },
      doSomething: function (type) {
        console.log("Handling " + type + " for " + this.id);
      }
    };
      // Statement bodies


//div.header
//  ul.nav.nav-pills.pull-right
//    li.active
//      a(ng-href="#") Home
//    li
//      a(ng-href="#") About
//    li
//      a(ng-href="#") Contact
//  h3.text-muted coco
//div.jumbotron
//  h1 'Allo, 'Allo!
//  p.lead
//    img(src="images/yeoman.png", alt="I'm Yeoman")
//    br
//    | Always a pleasure scaffolding your apps.
//  p
//    a.btn.btn-lg.btn-success(ng-href="#")
//      | Splendid!
//      span.glyphicon.glyphicon-ok
//div.row.marketing
//  h4 HTML5 Boilerplate
//  p HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
//  h4 Angular
//  p AngularJS is a toolset for building the framework most suited to your application development.
//  h4 Karma
//  p Spectacular Test Runner for JavaScript.
//div.footer
//  p
//    span.glyphicon.glyphicon-heart
//    |  from the Yeoman team
